{% extends "base.html" %}
{% block content %}
 <h1>Welcome {{name}}, here are top destinations!</h1>
 <a href="https://www.google.com">goooogle</a>
    <ul>        
        {% for city in cities %}
        <li>{{ city }}</li>
        {% endfor %}
    </ul>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <form method="POST" novalidate>
        {{ form.hidden_tag() }}

        <p> {{ form.city.label }} {{ form.cityName(size=32) }}</p>

        <p> {{ form.rank.label }} {{ form.cityrank(size=32) }}</p>

        <p> {{ form.visitor.label }} {{ form.visitor() }}</p>

        <p> {{ form.submit.label }} {{ form.submit() }}</p>
    </form>     
{% endblock %}